@page "/statistic"

@using BlazorApp
@inject DbService Db

<h4>Всего задач: <b>@tasks.Length</b></h4>
<h4>Выполнено: <b>@tasks.Where(x => x.status == Models.Status.Finished).ToList().Count</b></h4>

@code {
    Models.Task[] tasks;

    protected override Task OnInitializedAsync()
    {
        tasks = Db.db.task.ToArray();

        return base.OnInitializedAsync();
    }
}